.topnav {
    overflow: hidden;
    background-color: white;
    color: black;
    
    background-position: center;
    line-height: 50px;
    
  
  }
  
  .topnav a {
    float: left;
    color: black;
    font-family: cursive;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav a:hover {
    background-color: gray;
    color: black;
  }
  
  .topnav a.active {
   color: yellow;
   font-family: cursive;
   font-size: larger;
  }
  
  .topnav-right {
    float: right;
    line-height: 50px;
  
  }


  
 
.dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .topnav a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }


  .helo
  {
height:1500px;
width: 100%;
background-image: url("../assets/images/image.png");
background-size: cover;
  }
  .header-section{
    
    padding: 350px;
  }
  .header-section h1{
   color: #739EB7 ;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: 50px;
  }
  .col-md-5 p{
    font-size: larger;
    align-items: center;
  }
 
.six{
  height: 600px;
  width: 100%;
  background-color: white;
}
  .content-section2{
    text-align: center;
    padding: 90px;
    }
.card{
    width: 18rem;
    border: none;
    width: 400px;
    padding: 15px;
    left: 100px;
  }
.col-md-4{
    padding: 10px;
    height: 450px;
    margin-top: 25px;
}
.six{
  display: flex;
}


.six1{
  height: 300px;
  width: 100%;
  background-color: white;
}


.helo2{
  height: 300px;
  width: 100%;
  background-color: white;
}
.helo2 .col-md-8{
  text-align: center;
}
.helo2{
  display: flex;
}
.helo2,h1{
  color: #f48120;
}
.helo2,p{
  color: #77787b;
}
.helo2 .box1{
float: right;

margin-top: -200px;

}
.helo2 .box2{
  float: right;
  margin-top: -600px;
  }
  .six2{
    height: 100px;
    width: 100%;
    margin-top: 300px;
    background-color:white;
  }
 .helo3{
   height: 500px;
   width: 100%;
 }
 .column2{
    position: relative;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
}
.column2 img{
    position: absolute;
    top: 0;
    right: 140px ;
    width: 620px;
    margin-right: 750px;
    
}
.helo3 .container{
  margin-left: 30%;
  margin-top: 150px;
  text-align: center;
}

.six3{
  height: 300px;
  width: 100%;
  background-color: white;
}

.helo4{
  height: 400px;
  width: 100%;
  background-color : white;
}
.helo4 .col-md-8{
  text-align: center;
}
.helo4{
  display: flex;
  margin-top: 30px;
}
.helo4,h1{
  color: #f48120;
}
.helo4,p{
  color: #77787b;
}
.helo4 .container{
  margin-left: 1%;
}

.data2{
  position: relative;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  
}
.data2 img{
  position: absolute;
  top: 0;
  right: 0;
  width: 500px;
margin-top: -450px;
margin-right: 20%;
  
}