<div class="topnav" >
  <img src="../assets/images/logo.png" width="120px" style="float: left;">
      
    
    <div class="topnav-right">
      <a href="#search" style="font-weight: lighter; color:  #739EB7;">HOME</a>
      
      <div class="dropdown">
        <button class="dropbtn" style="font-weight: lighter; color:  #739EB7;">about vallino
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div> 

      <div class="dropdown">
        <button class="dropbtn" style="font-weight: lighter; color:  #739EB7;">products
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div> 
      
      <div class="dropdown">
        <button class="dropbtn" style="font-weight: lighter; color:  #739EB7;">education
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div> 


      
      <a href="#about" style="font-weight: lighter; color:  #739EB7;">contact</a>
       <div class="dropdown">
        <button class="dropbtn" style="font-weight: lighter; color:  #739EB7;">location
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div> 

    </div>
 </div>

  
 <div class="helo">
   <div class="header-section">
   <div class="col-md-5">
 
     <h1>TOGETHER</h1><br/>
     <h1>WE ARE CHANGING</h1><br/>
     <h1>THE FUTURE</h1><br/>
     <p>Avellino, a leader in precision medicine, is making a global impact in genetics</p>
     <p>and bringing innovative diagnostics, therapies, and AI-driven data processing to</p>
     <p>patient care</p>
  
     <button class="btn  btn-lg" style="border-radius: 25px; background-color: #f48120;">DISCOVER THE KEY  <i class="fa fa-caret-right"></i></button>
 </div>
 </div>
 </div>


 <div class="six">
<div class="col-md-4">
    <div class="container">
    <div class="card">
        <img src="../assets/images/c ave.png" alt="java scirpt"/>

        <p>AvaGen is the the first and leading</p>
        <p>personalized genetic eye test.</p>
        <p>AvaGen quantifies the risk or presence of</p>
        <p>keratoconus and other corneal</p>
        <p>genetic disorders caused by</p>
        <p>gene variants.</p>
        <button class="btn  btn-lg" style="border-radius: 25px;background-color: #f48120;">VIEW AVAGEN  <i class="fa fa-caret-right"></i></button>

        </div>
    </div>
</div>


<div class="col-md-4">
  <div class="container">
<div class="card">
  <img src="../assets/images/tri ave.png" alt="java scirpt"/>

  <p>AvaGen is the the first and leading</p>
  <p>personalized genetic eye test.</p>
  <p>AvaGen quantifies the risk or presence of</p>
  <p>keratoconus and other corneal</p>
  <p>genetic disorders caused by</p>
  <p>gene variants.</p>
  <button class="btn  btn-lg" style="border-radius: 25px ;background-color: #f48120;">VIEW AVAGEN  <i class="fa fa-caret-right"></i></button>

  </div>
  </div>
  </div>
</div>

<div class="six1">
  <img src="../assets/images/arrow.png"/>
  </div>
  
  
  
  
  <div class="helo2">
  <div class="col-md-8">
    <div class="container">
    <h1>A global leader in precision medicine,</h1>
    <h1>gene therapy, and molecular diagnostics</h1>
    <p>Our mission is to bring personalized medicine to eyecare</p>
    <p>professionals by delivering actionable information derived from </p>
    <p>the unique genes of individual patients</p>
    <button class="btn  btn-lg" style="border-radius: 25px; background-color: #f48120;">SEE HOW WE INNOVATE  <i class="fa fa-caret-right"></i></button>
  </div>
  </div>
  <div class="col-md-1">
    <div class="box1"><img src="../assets/images/globe.png"/></div>
    <div class="box2"><img src="../assets/images/rope.png"/></div>
    </div>
   </div>

   <div class="six2">
    <img src="../assets/images/arrow-right.png" style="float: right;"/>
    </div>
  
        <div class="column2">
         <img src="../assets/images/man.png">
         <img src="../assets/images/circle.png" >
         <img src="../assets/images/set.png" >
       </div>  
       <div class="helo3">
        <div class="container">
          <h1>A global leader in precision medicine,</h1>
          <h1>gene therapy, and molecular diagnostics</h1>
          <p>Our mission is to bring personalized medicine to eyecare</p>
          <p>professionals by delivering actionable information derived from </p>
          <p>the unique genes of individual patients</p>
          <button class="btn  btn-lg" style="border-radius: 25px; background-color: #f48120;">SEE HOW WE INNOVATE  <i class="fa fa-caret-right"></i></button>
        </div>
       </div>    

    <div class="six3">
      <img src="../assets/images/arrow.png"/>
    </div>

       <div class="helo4">
        <div class="col-md-8">
          <div class="container">
          <h1>A global leader in precision medicine,</h1>
          <h1>gene therapy, and molecular diagnostics</h1>
          <p>Our mission is to bring personalized medicine to eyecare</p>
          <p>professionals by delivering actionable information derived from </p>
          <p>the unique genes of individual patients</p>
          <button class="btn  btn-lg" style="border-radius: 25px; background-color: #f48120;">SEE HOW WE INNOVATE  <i class="fa fa-caret-right"></i></button>
        </div>
        </div>
        </div>
        <div class="data2">
          
          <img src="../assets/images/spril.png">
          <img src="../assets/images/circle.png" >
          <img src="../assets/images/atom1.png" >
          <img src="../assets/images/atom2.png" >
          <img src="../assets/images/atom3.png" >
          
        </div>      

       
  